div.none {
  color: rebeccapurple;
}

div.core {
  color: orange;
}

div.hardware {
  color: brown;
}

div.softwareED {
  color: blueviolet;
}

div.gavr {
  color: purple;
}

div.mlai {
  color: green;
}

div.data {
  color: royalblue;
}

div.research {
  color: rosybrown;
}

div.cybersecurity {
  color: goldenrod;
}

div.netCloud {
  color: skyblue;
}

div.seminar {
  color: salmon;
}

div.theory {
  color: teal;
}
