.btn-taken{
	border-radius: 10px;
	background-color: orange; 
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
}

.btn-nottaken{
	border-radius: 12px;
	background-color: gray; 
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	opacity: 0.4;
  	filter: alpha(opacity);
}